{% capture content %}


    <!-- ######################   Projects >> Header  ###################### -->

    <div class="grid  container--main  projects">

           <div class="grid__item  one-third  lap-one-whole  palm-one-whole">
                  <a href="/projects">
                   <h2 class="projects__subheading">Design & Development</h2>
                   <h3 class="projects__sub-subheading">Portfolio</h3>
                 </a>
           </div><!--

        --><div class="grid__item  two-thirds  lap-one-whole  palm-one-whole  about__intro">
                <h1 class="projects__heading">Projects</h1>

                <p class="projects__introtext">
               The following is a selected collection of projects done for work, school or personal experiments <span class="accent">+</span> side projects.</p>
           </div>

            <hr class="rule--hero  rule--resume">
    </div>


    <!-- ######################   Projects Page >> Projects Feed ###################### -->

    <!-- Begin Article Feed Content -->

    <div class="grid  container--main  projects__feed">

    <!-- Begin Featured Feed Content -->
    {% assign featured_ids = '' %}
    {% for post in taxonomy['tags']['featured'].posts limit:2 %}
      {% assign featured_ids = featured_ids | append:',' | append:post.id %}
      <div class="grid__item   one-half  lap-one-whole  palm-one-whole">
        <a href="{{post.url}}" class="projects__featured">
            <figure class="project__animate">
                <img src="{{post.meta['thumbnail']}}" class="project__image">
            </figure>
            <h4 class="featured__title">
              {{post.meta['featured__title']}}
            </h4>
            <h5 class="featured__subtitle">{{post.meta['featured__subtitle']}} </h3>
        </a>
      </div><!--
      -->{% endfor %}


      <hr class="rule--hero  rule--resume  dotted  push--soft-top">

      <!-- Begin Non-Featured Feed Content -->
      {% for post in posts limit:20 %}{% unless featured_ids contains post.id %}<div class="grid__item  one-third  lap-one-third  palm-one-whole">
            <a href="{{post.url}}">
              <figure class="project__animate">
              <img src="{{post.meta['thumbnail']}}" class="project__image">
              </figure>
            </a>
        </div><!--
       -->{% endunless %}{% endfor %}


    </div>


{% endcapture %}

{% include 'layouts/default' %}