{% capture content %}


    <!-- ######################   Projects >> Header  ###################### -->

    <div class="grid  container--main  projects">

           <div class="grid__item  one-third  lap-one-whole  palm-one-whole">
                  <a href="/projects">
                   <h2 class="projects__subheading">Design & Development</h2>
                   <h3 class="projects__sub-subheading">Portfolio</h3>
                 </a>
           </div><!--

        --><div class="grid__item  two-thirds  lap-one-whole  palm-one-whole  about__intro">
                <h1 class="projects__heading">Projects</h1>

                <p class="projects__introtext">
               The following is a selected collection of projects done for work, school or personal experiments <span class="accent">+</span> side projects.</p>
           </div>

            <hr class="rule--hero  rule--resume">
    </div>


    <!-- ######################   Projects Page >> Projects Feed ###################### -->

    <!-- Begin Article Feed Content -->

    <div class="grid  container--main  projects__feed">

      {% for post in posts limit:20 %}<div class="grid__item  one-third  lap-one-third  palm-one-whole">
            <a href="{{post.url}}"><img src="{{post.meta['thumbnail']}}"></a>
        </div><!--
       -->{% endfor %}


    </div>


{% endcapture %}

{% include 'layouts/default' %}