<p class="about__social-block">
  <a href="https://twitter.com/{{site.meta['twitter_id']}}">twitter</a> <span class="accent">·</span>
  <a href="https://dribbble.com/{{site.meta['dribble_id']}}">dribble</a> <span class="accent">·</span>  
  <a href="https://github.com/{{site.meta['github_id']}}">github</a> <span class="accent">·</span> 
  <a href="http://www.linkedin.com/{{site.meta['linkedin_id']}}">linkedin</a> <span class="accent">·</span> 
  <a href="http://www.last.fm/user/{{site.meta['dribble_id']}}">last.fm</a> <span class="accent">·</span> 
  <a href="http://instagram.com/{{site.meta['instagram_id']}}" >instagram</a>
</p>