
// Highlight

::-moz-selection {
  background-color: #dae6eb;
}
::selection {
  background-color: #dae6eb;
}
body {
	background: $brand-quinary;
}

//  Minion Pro weights:  400 (regular and italic), 700 (regular and italic)
// Proxima Nova weights: 400, 700, 800, 900

$brand-altface: proxima-nova, sans-serif;


// Grid Overrides       -------------------##############

.grid {
	margin-left: 0px;
}

.grid__item {
	padding-left: 0px;
}

.debug {outline:5px solid yellow;}

// Containers           -------------------##############


.container--main {
	padding-top: $base-spacing-unit;
	max-width: 960px;
	// @include media-query(desk-wide){
 //    max-width: 1100px;
	// }
	width: 90%;
	margin: 0 auto;
}

// Link Colors           -------------------##############

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: $brand-color;
}


// Preformatted Text      ------------------##############

pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 14px;
	@include media-query(desk) {
		font-size: 15px;
	}
	background: rgba(0,0,0,0.04);
	margin-bottom: 20px;
	padding: 20px;
}

mark {
	background-color: #fdffb6;
	padding: 2px;
	-webkit-box-shadow: #fdffb6 0 0 5px;
	-moz-box-shadow: #fdffb6 0 0 5px;
	box-shadow: #fdffb6 0 0 5px;
}


//  Header               -------------------##############

.logo {
	font-family: $brand-altface;
	@include font-size(28px);
	font-weight: 800;
	text-transform: uppercase;
	a {
		text-decoration: none;
	}
	&:hover {
		margin-left:-2px;
	}
	webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
       -ms-transition: all 0.1s ease-in-out;
           transition: all 0.1s ease-in-out;

}

.navigation {
	margin-top: 24px;
	margin-top: 1rem;
	@include media-query(desk) {
		float: right;
	}
	@include media-query(palm) {
		margin-top: 4px;
		margin-bottom: 16px;
		@include font-size(12px);
		li {
			padding-right: 16px
		}
	}

	@include media-query(lap) {
		margin-top: 4px;
		margin-bottom: 16px;
	}


	font-family: $brand-altface;
	@include font-size(13px);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.027em;;

	li {
		padding-right: $base-spacing-unit;
	}
	li:last-child {
		padding-right: 0px;
	}

	a {
		text-decoration: none;
	}

}

.rule--orange-top {
	border-top: 4px solid $brand-color;
	margin-top: -$half-spacing-unit;
}

.rule--orange-bottom {
	border-top: 4px solid $brand-color;
	margin-bottom: -$base-spacing-unit;
}


// Footer                -------------------##############

.navigation--footer {
	float: none;
	@include font-size(11px);
	li:last-child {
		padding-right: $base-spacing-unit;
	}
	margin-top: -8px;
	margin-top: -0.5rem;
	@include media-query(desk) {
		margin-top: -8px;
	}
}

.copyright {
	margin-top: -16px;
	margin-top: -1rem;
	@include media-query(desk) {
		margin-top: -8px;
		margin-top: -0.5rem;
	}
}

// Figure Styling

figure.special {
	@include media-query(desk) {
		margin-left: -160px;
	}
}

figcaption {
	font-size: 14px;
	padding-top: 5px;
	border-top: 10px solid rgb(0, 0, 0);
	padding-bottom: 5px;
	border-bottom: 1px dotted grey;

}
